<p>
    Это бета-версия онлайн <b>Hex-редактора</b>.
    Редактор предназначен для редактирования и анализа небольших двоичных файлов,
    например дампов <b>EEPROM</b>, Flash-памяти микроконтроллеров. В текущей версии имеется возможность открытия, редактирования,
    сохранения, сравнения файлов в нескольких табах.
    </p>
<p>
    Для поиска важных данных в двоичных файлах используется инструмент <b>Инспектор</b>, позволяющий расшифровать
    и изменять числовые данные, подсчитывать контрольные суммы. Предусмотрена возможность цветовой маркировки в файлах.

</p>
<p>
   Редактор пока находится в бета версии, все вопросы и замечания пишите на <a href="mailto:info@elx.com.ua">info@elx.com.ua</a>
</p>
<p>
    Исходники можно скачать на <a href="https://github.com/michbil/hex-works">Github</a><br>
    &copy Michael Bilenko 2015/2016
</p>
